{% extends 'base.html.twig' %}

{% block title %}{% trans %}register{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}register{% endtrans %}</h1>

    {{ form_start(registrationForm)}}
        <div class="form-group row">
            {{ form_label(registrationForm.username, 'form.username',{'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(registrationForm.username, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(registrationForm.plainPassword, 'form.password',{'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(registrationForm.nom, 'form.lastname',{'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(registrationForm.nom, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(registrationForm.prenom, 'form.firstname',{'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(registrationForm.prenom, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(registrationForm.email, 'form.email',{'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(registrationForm.numTel, 'form.numTel',{'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(registrationForm.numTel, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(registrationForm.date_naissance, 'form.dateNais',{'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(registrationForm.date_naissance, {'attr': {'class': ''}}) }}
            </div>
        </div>
        <hr/>
        <div class="form-group row">
            <div class="col-sm-2">Conditions : </div>
            <div class="col-sm-10">
                <div class="form-check">
                    {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                    {{ form_label(registrationForm.agreeTerms, 'form.agreeTerms',{'label_attr': {'class': 'form-check-label'}}) }}
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">{% trans %}form.submit{% endtrans %}</button>
    {{ form_end(registrationForm) }}
{% endblock %}
