{% extends 'base.html.twig' %}

{% block title %}{% trans %}account{% endtrans %}{% endblock %}

{% block body %}
    {% if app.user %}
        <h1>{% trans %}account{% endtrans %}</h1>
        <div class="shadow p-3 mb-5 bg-white rounded">
            {{ form_start(userForm)}}
            <div class="form-group row">
                {{ form_label(userForm.username, 'form.username',{'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(userForm.username, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(userForm.nom, 'form.lastname',{'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(userForm.nom, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(userForm.prenom, 'form.firstname',{'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(userForm.prenom, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(userForm.email, 'form.email',{'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(userForm.email, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(userForm.numTel, 'form.numTel',{'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(userForm.numTel, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(userForm.date_naissance, 'form.dateNais',{'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(userForm.date_naissance, {'attr': {'class': ''}}) }}
                </div>
            </div>
            <br/>
            <button type="submit" class="btn btn-primary">{% trans %}change{% endtrans %}</button>
            {{ form_end(userForm) }}

            <hr/>

            {{ form_start(passwordForm)}}
            <div class="form-group row">
                {{ form_label(passwordForm.password.first, 'form.password',{'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(passwordForm.password.first, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(passwordForm.password.second, 'form.passwordRepeat',{'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(passwordForm.password.second, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <br/>
            <button type="submit" class="btn btn-primary">{% trans %}change{% endtrans %}</button>
            {{ form_end(passwordForm)}}
        </div>
    {% endif %}
{% endblock %}
